<h1>Message list</h1>
<%= @messages.each do |message| %>
   Name:<%= message.name %>
   Content:<%= message.body %>
   <br>
<% end %>

<%= form_for(Message.new) do |f| %>
   Name : 
   <%= f.text_field :name %>
   
   Content : 
   <%= f.text_field :body %>
   <%= f.submit %>
<% end %>
